<h3>Fotos</h3>

<div class="container">
	<ul class="noclass row" style="list-style-type: none;">
		<li><img class="img-responsive" src="images/media/Projekt1.jpg"/></li>
		<li><img class="img-responsive" src="images/media/Projekt2.jpg"/></li>
		<li><img class="img-responsive" src="images/media/Projekt3.jpg"/></li>
		<li><img class="img-responsive" src="images/media/Projekt4.jpg"/></li>
		<li><img class="img-responsive" src="images/media/Projekt5.jpg"/></li>
		<li><img class="img-responsive" src="images/media/Projekt6.jpg"/></li>
		<li><img class="img-responsive" src="images/media/Projekt7.jpg"/></li>
		<li><img class="img-responsive" src="images/media/Projekt8.jpg"/></li>
	</ul>
</div>